@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-bg-main: #232322;
  --color-bg-block: #323230;
  --color-text-main: #c5c6bd;
  --color-text-accent: #fff;
  --color-accent: #7953d3;
  --font-inter: "Inter", sans-serif;
}
